*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
*.iws
*.iml
*.ipr
Icon?
vital_hub/local.properties
vital_hub/.idea/caches
vital_hub/.idea/libraries
vital_hub/.idea/modules.xml
vital_hub/.idea/workspace.xml
vital_hub/.idea/navEditor.xml
vital_hub/.idea/assetWizardSettings.xml
vital_hub/build
vital_hub/captures